
/*
#wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: space-around;
}

header, footer, main, aside {
	margin: 5px;
	width: 50px;
	height:  50px;
	background-color: red;
}

header {
	flex: none;
}
footer {
	order: 3;
	flex-grow: 1;
}

main {
	order:1;
	flex-grow: 3;
	flex-basis: 200px;
	align-self: flex-end;
}

aside {
	order: 2;
	flex-grow: 2;
	margin: auto;
} */
/*

#wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 0px;
	margin: 0px;
}

.item1, .item2 {
	padding-left: 0px;
}
header, footer, main, aside, .item1, .item2 {
	margin: 5px;
	width: 50px;
	height:  50px;
	background-color: red;
	text-align: center;
	font-size: 1em;
}


.navigation {
	display: flex;
	list-style: none;
	margin: 0px;
	background-color: deepskyblue;
	--webkit-flex-flow: row wrap;
	justify-content: flex-end;
	padding-left: 0px;
}

.navigation a {
	text-decoration: none;
	padding: 1em;
	color: white;
	display: block;
}

.navigation a:hover {
	background: red;
}

@media all and (max-width: 800px)  {
	.navigation {
		justify-content: space-around;
	}
}

@media all and (max-width: 500px) {
	.navigation {
		flex-direction: column;
	}

	.navigation a {
		text-align: center;
		padding: 10px;
		
	}
}*/
/*
.header {
	background: tomato;
}

.footer {
	background: lightgreen;
}

.main {
	text-align: left;
	background: deepskyblue;
}

.aside-1 {
	background: gold;
}

.aside-2 {
	background: hotpink;
}


.wrapper {
	display: flex;
	flex-flow: row wrap;
	font-weight: bold;
	text-align: center;
}

.wrapper > * {
	padding: 10px;
	flex: 1 100%;
}

@media all and (min-width: 600px) {
	.aside {
		flex:1 auto;
	}
}

@media all and (min-width: 800px) {
	.main {
		flex: 2 0px;
	}

	.aside-1 {
		order: 1;
	} 
	.main {
		order: 2;
	}

	.aside-2 {
		order: 3;
	}

	.footer {
		order: 4;
	}
}

*/


.wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 0px auto;
	max-width: 1350px;
	width: 100%;
}

.header {
	flex:1 1 15%;
	background: red;
}

.detailed {
	flex:5 1 85%;
	background-color: #BEBEBE;
	display: flex;
	flex-direction: column;
}

.about {
	display: flex;
	flex-basis: 20%;
	background-color: white;
	margin: 10px 0px;
}
.about-course {
	flex-basis: 50%;
	margin-bottom: 30px;
	margin-top: 30px;
	border-right:  3px solid black;
}

.logo {
	float: left;
	width: 110px;
	height: 110px;
	background-color: green;
	margin: 35px;
	border-radius: 50%;
}

.course {
	float: left;
	margin-top: 20px;
	padding-left: 20px;
}
.status {
	margin-bottom: 15px;
	color: green;
}
.Contacts {
	flex-basis: 50%;
	margin-bottom: 40px;
	margin-top: 50px;
	padding-left: 30px;
	height: 100px;
}
.description {
	flex-basis: 20%;
	margin: 10px 0px;
	background-color: white;
	display: flex;
}

.description h3 {
	margin: 30px;
}

.description-course {
	margin: 30px 0px 30px 30px;
}
.main {
	flex-basis: 60%;
	background-color: white;
	margin: 10px 0px;
	display: flex;
	flex-wrap: wrap;
	border: 5px solid deepskyblue;
}

.square {
	margin: 40px 30px 0px 30px;
	width: 50px;
	height: 50px;
	background-color: green;
}

.list {
	border-left: 3px solid black;
	margin-bottom: 50px;
}
.main .title {
	margin-left: 30px;
	flex-basis: 100%;
}



